.header
.body
  .chat-main
    .group-info
      .left-side
        .group__name
          = @group.name
        .member__list
          - @group.users.each do |user|
            = user.name
      .right-side
        .edit__btn
          = link_to edit_group_path(params[:group_id]), class:"edit__btn" do
            Edit
    .chat-list
      = render @messages
    .Footer
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .Form__contents
          = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
          = f.label :image, class: 'Form__inputImage' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'Form__submit'