.message-form
      = render @messages
        = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
          %input{type: "text", placeholder: "type a message", name:"message[content]", id:"message_content"}
          = f.label :image, class: 'Form__inputImage' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
          = f.submit 'Send', class: 'Form__submit'