.header
.body
  .side-bar
    .user-name
      .top-items
        .top-items__name
          = current_user.name
        .top-items__icons
          .left-icon
            = link_to new_group_path(current_user) do
              = icon('far', 'edit')
          %span<>
          .right-icon
            = link_to edit_user_path(current_user) do
              = icon('fas', 'cog')
    .group-list
      - current_user.groups.each do |group|
        .group
          = link_to '#' do
            .group__name
              = group.name
            .group__messages
              メッセージはまだありません

